/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Lato", sans-serif;

}

/* header section */

.banner{
    display: flex;
    padding: 50px  100px;
    align-items: center;
    gap: 40px;
    background-color: #ffdbe3;
}

.banner-title{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.banner-script{
    color: #474747;
    margin-bottom: 30px;
}

.btn{
    background-color: #E55473;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}


/* main */
main{
    margin: 50px 150px;
}

/* Flower section */

.titles{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.title{
    font-size: 30px;
    margin-bottom: 15px;
}

.description{
    color: #656565;
}



.flower-container{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;  
    justify-content: center;
}

.flower-1{
    background-color: #fbafd4;
    padding: 0 30px;
    padding-top: 40px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
.flower-2{
    background-color: #90c7ca;
    padding: 0 30px;
    padding-top: 40px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
.flower-3{
    background-color: #aed08e89;
    padding: 0 30px;
    padding-top: 40px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

.name{
    text-align: center;
    margin-top: 15px;
    color: 272727;
}

.flower-container img{
    height: 230px;
    width: 180px;
}

/* delivery section */
.delivery {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: #e7e7e7;
    padding: 50px 50px;
}

.delivery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
